<script src="https://cdnjs.com/libraries/mathjs">
    import Scatter from './LinearRegression.svelte';
    import data from './data.js';

	  let slope = 1.25;
    let intercept = -3;
		let rmse = 0;
		
	  function get_squerr(total, obj) {
			return total + (slope * obj.x - obj.y + intercept) ** 2 / data.a.length;
		}
	  $: slope, intercept, rmse = (data.a.reduce(get_squerr, 0.) ** 0.5).toFixed(3);
</script>


<form>
	<div>
		<label class="label" for="intercept">Intercept</label>
		<input type=number default={intercept} bind:value={intercept} min=-3 max=16 step=.001 size=5 name="intercept">
		<input type=range  default={intercept} bind:value={intercept} min=-3 max=16 step=.001 size=5 name="intercept">
	</div>
	<div>
		<label class="label" for="slope">Slope</label>
		<input type=number default={slope} bind:value={slope} min=-1 max=8 step=.001 size=5 name="slope">
		<input type=range  default={slope} bind:value={slope} min=-1 max=8 step=.001 size=5 name="slope">
	</div>
	<div class="label">RMSE</div><div class="value">{rmse}</div><br>

</form>

<div class="chart">
	<div><h2>Scatter Plot</h2>
		<div>
			<div class="label">Model</div>
			<div class="value"><strong>Y</strong> &nbsp; = &nbsp;
				slope &middot; <strong>X</strong> &nbsp; + &nbsp; intercept</div>
	
			<div class="label">Predictions</div>
			<div class="value"><strong>Y</strong> &nbsp; = &nbsp;
				{slope} &middot; <strong>X</strong> &nbsp; + &nbsp; {intercept}</div>
		</div>
	</div>
    <Scatter data={data.a} bind:slope={slope} bind:intercept={intercept} x1=-.5 x2=16.5/>
</div>



<style>
	.value {
	  padding: 6px 10px;
		margin: 0px 10px;
  	box-sizing: border-box;
	}
	.chart {
        width: 100%;
        max-width: 1280px;
        height: calc(100% - 4em);
        min-height: 280px;
        max-height: 960px;
        margin: 0 auto;
    }
	.label {
		font-style: sans-serif;
		font-weight: bold;
		text-align: right;
    clear: both;
    float:left;
		width: 5em;
    margin-top:6px;
    margin-right:16px;
	}
	input[type=range] {
  	padding: 0px 10px;
		margin: 0px 10px;
  	box-sizing: border-box;
	
	}
</style>

