<script>
	import { onMount } from 'svelte';
	import { scaleLinear } from 'd3-scale';

	export let data;
	export let slope;
	export let intercept;
	export let x1 = 3;
	export let x2 = 14;
	
	let svg;
	let width = 500;
	let height = 200;


	const padding = { top: 20, right: 40, bottom: 40, left: 25 };

	$: xScale = scaleLinear()
		.domain([0, 16])
		.range([padding.left, width - padding.right]);

	$: yScale = scaleLinear()
		.domain([0, 16])
		.range([height - padding.bottom, padding.top]);

	$: xTicks = width > 180 ?
		[0, 4, 8, 12, 16] :
		[0, 4, 8, 12, 16];

	$: yTicks = height > 180 ?
		[0, 4, 8, 12, 16] :
		[0, 4, 8, 12, 16];

	onMount(resize);

	function resize() {
		({ width, height } = svg.getBoundingClientRect());
	}
</script>

<svelte:window on:resize='{resize}'/>

<svg bind:this={svg}>
	<line 
				x1='{xScale(x1)}'
				y1='{yScale(slope*x1 + intercept)}'
				x2='{xScale(x2)}'
				y2='{yScale(slope*x2 + intercept)}'
				stroke-width="3" stroke="darkred"/>
	<!-- y axis -->
	<g class='axis y-axis'>
		{#each yTicks as tick}
			<g class='tick tick-{tick}' transform='translate(0, {yScale(tick)})'>
				<line x1='{padding.left}' x2='{xScale(22)}'/>
				<text x='{padding.left - 8}' y='+4'>{tick}</text>
			</g>
		{/each}
	</g>

	<!-- x axis -->
	<g class='axis x-axis'>
		{#each xTicks as tick}
			<g class='tick' transform='translate({xScale(tick)},0)'>
				<line y1='{yScale(0)}' y2='{yScale(13)}'/>
				<text y='{height - padding.bottom + 16}'>{tick}</text>

			</g>
		{/each}
	</g>

	<!-- data -->
	{#each data as point}
		<circle cx='{xScale(point.x)}' cy='{yScale(point.y)}' r='5'/>
	{/each}

</svg>

<style>
	svg {
		width: 50%;
		height: 50%;
		float: left;
	}

	circle {
		fill: orange;
		fill-opacity: 0.6;
		stroke: rgba(0,0,0,0.5);
	}

	.tick line {
		stroke: #ddd;
		stroke-dasharray: 2;
	}

	text {
		font-size: 12px;
		fill: #999;
	}

	.x-axis text {
		text-anchor: middle;
	}

	.y-axis text {
		text-anchor: end;
	}
</style>
